
# Created by https://www.toptal.com/developers/gitignore/api/dropbox
# Edit at https://www.toptal.com/developers/gitignore?templates=dropbox

### Dropbox ###
# Dropbox settings and caches
.dropbox
.dropbox.attr
.dropbox.cache

# End of https://www.toptal.com/developers/gitignore/api/dropbox