---
---

@import "{{ site.theme }}";

@font-face {
	font-family: 'Space Text';
	src: url('../fonts/spacetext-medium-webfont.woff2') format('woff2'),
			 url('assets/fonts/spacetext-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;

}

@font-face {
	font-family: 'Space Text';
	src: url('../fonts/spacetext-regular-webfont.woff2') format('woff2'),
			 url('../fonts/spacetext-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}




/* Geral
---------------------------------------*/

:root {
  --cor-azul: #3939ff;
  --cor-verde: #AAFF80;
  --cor-texto: #444;
}

body {
  font-family: 'Space Text', sans-serif;
  color: var(--cor-texto);
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.btn {
  color: var(--cor-azul);
  border-color: var(--cor-azul);
  max-width: auto;
  
}

.btn.small {
  padding: 0.3em 0.9em;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-left: auto;
}

.btn:hover {
  color:var(--cor-verde);
  background-color: var(--cor-azul);
  border-color: var(--cor-azul);
  border-width: 1px;
}

.fim {
  display: flex;
  justify-content: center;
  margin: 8rem 0;
}

* {
  box-sizing: border-box;
}

/* Tipografia
---------------------------------------*/

::selection {
  background-color: var(--cor-azul);
  color: var(--cor-verde)
}

a {
  color: var(--cor-azul);
}

a:hover,
a:focus {
  text-decoration: none;
  border-bottom: 2px solid;
}

/* Header
---------------------------------------*/

.page-header {
  background-image: url('../imgs/Header.png');
  background-size: cover;
  background-position: center;
  color: var(--cor-verde);
  padding: 4rem 2rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header a {
  color: var(--cor-verde);
}

.page-header a.btn {
  background-color: var(--cor-verde);
  margin: 0 auto;
}

.page-header a.btn {
  color: var(--cor-azul);
}

.page-header a.btn:hover {
  color: var(--cor-verde);
  background-color: var(--cor-azul);
}

.home .page-header {
  min-height: 100vh;
}

.project-tagline {
  max-width: 40ch;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}

.home .project-name {
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.4em;
}

.page-header h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.4em;
}

/* Footer
---------------------------------------*/

.site-footer {
  background-color: #000;
  color: var(--cor-verde);
  padding: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.site-footer a {
  text-decoration: underline;
  color: var(--cor-verde);
}

.site-footer-credits {
  color: var(--cor-verde);
}

.site-footer-owner {
  font-weight: 400;
}

/* Sumario
---------------------------------------*/

.sumario  {
  margin: 0 0 6rem 0;
  padding: 0;
}

.sumario ul {
  margin: 0;
  list-style-type: none;
}

.sumario ul li a {
  text-transform: uppercase;
  
}

@media screen and (min-width: 1200px) {

  .sumario {
    position: absolute;
    left: 0;
    top: 0;
  }
}


/* Conteúdo
---------------------------------------*/

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: var(--cor-azul);
  font-weight: 400;
  line-height: 1.2em;
}

.main-content h1, .main-content h2, .main-content h3 {
  margin-top: 9rem;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.main-content h1 {
  
  font-weight: 400;
  margin-top: 3em;
}

.main-content h3 {
  margin-top: 3rem;
}


ul li strong,
ol li strong { 
  text-transform: uppercase;
  color: var(--cor-azul)
}

strong {
  font-weight: 500;
  background-color: var(--cor-verde);
  display: inline-block;
  padding: 0 0.3em;
  line-height: 1.4em;
}

.main-content blockquote {
  margin: 3em 0;
  border: 1px solid var(--cor-verde);
  padding: 3em;
  box-shadow: 5px 5px var(--cor-verde);
}

figure {
  margin: 6rem 0;
}

figcaption {
  padding: 0.8rem;
  font-size: 0.8rem;
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

video {
  display: block;
  margin: 6rem 0;
}

.wrapper-conteudo {
  display: flex;
  flex-wrap: wrap;
  margin: 8rem auto;
  position: relative;
}

.main-content {
  max-width: 1200px;
  font-size: 1.5rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.main-content > div {
  margin: 6rem auto;
}


.main-content > *,
.main-content blockquote {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.main-content > figure,
.main-content > div {
  max-width: 1200px;
}

.main-content img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.main-content hr {
  background-color: var(--cor-verde);
  width: 100%;
  margin: 6rem auto
}

@media screen and (min-width: 600px) {
  .wrapper-conteudo {
    flex-wrap: nowrap;
  }

  .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -0.5em;
    margin-right: -0.5em;
  }

  .galeria figure,
  .galeria video {
    max-width: 50%;
    padding: 0.5em;
    margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper-conteudo {
    position: relative;
  }
}