---
---

@import "{{ site.theme }}";

@font-face {
	font-family: 'Space Text';
	src: url('../fonts/spacetext-medium-webfont.woff2') format('woff2'),
			 url('assets/fonts/spacetext-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;

}

@font-face {
	font-family: 'Space Text';
	src: url('../fonts/spacetext-regular-webfont.woff2') format('woff2'),
			 url('../fonts/spacetext-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}




/* Geral
---------------------------------------*/

:root {
  --cor-azul: #3939ff;
  --cor-verde: #AAFF80;
}

body {
  font-family: 'Space Text', sans-serif;
}

.btn {
  color: var(--cor-azul);
  border-color: var(--cor-azul);
  max-width: 300px;
}

.btn:hover {
  color:var(--cor-verde);
  background-color: var(--cor-azul);
  border-color: var(--cor-azul);
}

.fim {
  display: flex;
  justify-content: center;
  margin: 8rem 0;
}

/* Tipografia
---------------------------------------*/

::selection {
  background-color: var(--cor-azul);
  color: var(--cor-verde)
}

a {
  color: var(--cor-azul);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: var(--cor-azul);
  font-weight: 400;
  
}

.main-content h1, .main-content h2 {
  margin-top: 6rem;
}

.main-content h1 {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 3em;
}

ul li strong,
ol li strong { 
  text-transform: uppercase;
  color: var(--cor-azul)
}

strong {
  font-weight: 400;
}

blockquote {
  margin: 3em 0;
}

figure {
  margin: 2rem 0;
}

figcaption {
  font-size: 0.8rem;
  text-align: center;
}


/* Header
---------------------------------------*/

.page-header {
  background-image: url('../imgs/Header.png');
  background-size: cover;
  background-position: center;
  color: var(--cor-verde);
  padding: 2rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header a {
  color: var(--cor-verde);
}

.page-header a.btn {
  background-color: var(--cor-verde);
  margin: 0 auto;
}

.page-header a.btn {
  color: var(--cor-azul);
}

.page-header a.btn:hover {
  color: var(--cor-verde);
  background-color: var(--cor-azul);
}

.home .page-header {
  min-height: 70vh;
}

.project-tagline {
  max-width: 40ch;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
}

.project-name {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 400;
}

/* Footer
---------------------------------------*/

.site-footer {
  background-color: #000;
  color: var(--cor-verde);
  padding: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.site-footer a {
  text-decoration: underline;
  color: var(--cor-verde);
}

.site-footer-credits {
  color: var(--cor-verde);
}

.site-footer-owner {
  font-weight: 400;
}

/* Sumario
---------------------------------------*/

.sumario  {
  margin: 6rem 0;
  padding: 0 2rem;
}



/* Conteúdo
---------------------------------------*/

.wrapper-conteudo {
  display: flex;
  flex-wrap: wrap;
}

.main-content {
  max-width: 700px;
  font-size: 1.3rem;
  padding: 0 2rem;
  margin: 6rem auto;
}

@media screen and (min-width: 600px) {
  .wrapper-conteudo {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper-conteudo {
    position: relative;
  }

  .sumario {
    position: absolute;
    left: 0;
    top: 0;
  }
}