---
---

@import "{{ site.theme }}";

@font-face {
	font-family: 'Space Text';
	src: url('../fonts/spacetext-medium-webfont.woff2') format('woff2'),
			 url('assets/fonts/spacetext-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;

}

@font-face {
	font-family: 'Space Text';
	src: url('../fonts/spacetext-regular-webfont.woff2') format('woff2'),
			 url('../fonts/spacetext-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}




/* Geral
---------------------------------------*/

:root {
  --cor-destaque: #3939ff;
}

body {
  font-family: 'Space Text', sans-serif;
}

.page-header .btn {
  background-color: #AAFF80;
}

.btn {
  color: var(--cor-destaque);
  border-color: var(--cor-destaque);
}

.btn:hover {
  color:#AAFF80;
  background-color: var(--cor-destaque);
  border-color: var(--cor-destaque);
}


.main-content {
  max-width: 800px;
  font-size: 1.3rem;
  padding: 10rem 6rem;
  margin: auto;
}

.separador {
  display: flex;
  justify-content: center;
  margin: 8rem 0;
}


/* Tipografia geral
---------------------------------------*/

a {
  color: var(--cor-destaque);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: var(--cor-destaque);
  font-weight: 400;
  
}

.main-content h1, .main-content h2 {
  margin-top: 6rem;
}

.main-content h1 {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 3em;
}

ul li strong,
ol li strong { 
  text-transform: uppercase;
  color: var(--cor-destaque)
}

strong {
  font-weight: 400;
}

blockquote {
  margin: 3em 0;
}

figcaption {
  font-size: 0.8rem;
  text-align: center;
}


/* Header
---------------------------------------*/

.page-header {
  background-image: url('../imgs/Header.png');
  background-size: cover;
  background-position: center;
  color: #AAFF80;
}

.home .page-header {

}

.project-tagline {
  max-width: 40ch;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
}

.project-name {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 400;
}